# Supervised Machine Learning - Undersampling

In [1]:
import numpy as np
import pandas as pd

from pathlib import Path
from collections import Counter
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix

from imblearn.under_sampling import RandomUnderSampler
from imblearn.metrics import classification_report_imbalanced
from imblearn.ensemble import EasyEnsembleClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression


import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from sqlalchemy import extract

In [2]:
columns = ["obj_ID",'alpha','delta', 'u', 'g', 'r', 'i', 'z', 'run_ID',
       'rerun_ID', 'cam_col', 'field_ID', 'spec_obj_ID', 'redshift',
       'plate', 'MJD', 'fiber_ID']
target = ["class"]

In [3]:
# # Create engine
# engine = create_engine("sqlite:///

In [4]:
# # reflect an existing database into a new model
# Base = automap_base()
# # reflect the tables
# Base.prepare(engine, reflect=True)
# # Save references to each table
# Measurement = Base.classes.measurement
# Station = Base.classes.station

In [5]:
# # Create our session (link) from Python to the DB
# session = Session(engine)

In [6]:
# Load the data
file_path = Path('Resources/star.csv', index=False)
data_df = pd.read_csv(file_path)
# df = df.loc[:, columns].copy()
data_df

,obj_ID,alpha,delta,u,g,r,i,z,run_ID,rerun_ID,cam_col,field_ID,spec_obj_ID,class,redshift,plate,MJD,fiber_ID
0,1.237661e+18,135.689107,32.494632,23.87882,22.27530,20.39501,19.16573,18.79371,3606,301,2,79,6.543777e+18,GALAXY,0.634794,5812,56354,171
1,1.237665e+18,144.826101,31.274185,24.77759,22.83188,22.58444,21.16812,21.61427,4518,301,5,119,1.176014e+19,GALAXY,0.779136,10445,58158,427
2,1.237661e+18,142.188790,35.582444,25.26307,22.66389,20.60976,19.34857,18.94827,3606,301,2,120,5.152200e+18,GALAXY,0.644195,4576,55592,299
3,1.237663e+18,338.741038,-0.402828,22.13682,23.77656,21.61162,20.50454,19.25010,4192,301,3,214,1.030107e+19,GALAXY,0.932346,9149,58039,775
4,1.237680e+18,345.282593,21.183866,19.43718,17.58028,16.49747,15.97711,15.54461,8102,301,3,137,6.891865e+18,GALAXY,0.116123,6121,56187,842
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,1.237679e+18,39.620709,-2.594074,22.16759,22.97586,21.90404,21.30548,20.73569,7778,301,2,581,1.055431e+19,GALAXY,0.000000,9374,57749,438
99996,1.237679e+18,29.493819,19.798874,22.69118,22.38628,20.45003,19.75759,19.41526,7917,301,1,289,8.586351e+18,GALAXY,0.404895,7626,56934,866
99997,1.237668e+18,224.587407,15.700707,21.16916,19.26997,18.20428,17.69034,17.35221,5314,301,4,308,3.112008e+18,GALAXY,0.143366,2764,54535,74
99998,1.237661e+18,212.268621,46.660365,25.35039,21.63757,19.91386,19.07254,18.62482,3650,301,4,131,7.601080e+18,GALAXY,0.455040,6751,56368,470
99999,1.237661e+18,196.896053,49.464643,22.62171,21.79745,20.60115,20.00959,19.28075,3650,301,4,60,8.343152e+18,GALAXY,0.542944,7410,57104,851

In [7]:
data_df.set_index(['spec_obj_ID'], inplace = True)

In [8]:
data_df

,obj_ID,alpha,delta,u,g,r,i,z,run_ID,rerun_ID,cam_col,field_ID,class,redshift,plate,MJD,fiber_ID
spec_obj_ID,,,,,,,,,,,,,,,,,
6.543777e+18,1.237661e+18,135.689107,32.494632,23.87882,22.27530,20.39501,19.16573,18.79371,3606,301,2,79,GALAXY,0.634794,5812,56354,171
1.176014e+19,1.237665e+18,144.826101,31.274185,24.77759,22.83188,22.58444,21.16812,21.61427,4518,301,5,119,GALAXY,0.779136,10445,58158,427
5.152200e+18,1.237661e+18,142.188790,35.582444,25.26307,22.66389,20.60976,19.34857,18.94827,3606,301,2,120,GALAXY,0.644195,4576,55592,299
1.030107e+19,1.237663e+18,338.741038,-0.402828,22.13682,23.77656,21.61162,20.50454,19.25010,4192,301,3,214,GALAXY,0.932346,9149,58039,775
6.891865e+18,1.237680e+18,345.282593,21.183866,19.43718,17.58028,16.49747,15.97711,15.54461,8102,301,3,137,GALAXY,0.116123,6121,56187,842
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1.055431e+19,1.237679e+18,39.620709,-2.594074,22.16759,22.97586,21.90404,21.30548,20.73569,7778,301,2,581,GALAXY,0.000000,9374,57749,438
8.586351e+18,1.237679e+18,29.493819,19.798874,22.69118,22.38628,20.45003,19.75759,19.41526,7917,301,1,289,GALAXY,0.404895,7626,56934,866
3.112008e+18,1.237668e+18,224.587407,15.700707,21.16916,19.26997,18.20428,17.69034,17.35221,5314,301,4,308,GALAXY,0.143366,2764,54535,74
7.601080e+18,1.237661e+18,212.268621,46.660365,25.35039,21.63757,19.91386,19.07254,18.62482,3650,301,4,131,GALAXY,0.455040,6751,56368,470
8.343152e+18,1.237661e+18,196.896053,49.464643,22.62171,21.79745,20.60115,20.00959,19.28075,3650,301,4,60,GALAXY,0.542944,7410,57104,851

In [9]:
 new_data_df=data_df.drop(['alpha','delta','run_ID','rerun_ID', 'cam_col', 'field_ID', "obj_ID",'plate', 'MJD', 'fiber_ID'], axis = 1 )

In [10]:
new_data_df["z"].min()

-9999.0

### Variable engineering

In [11]:
frequency = [1, 2, 3]

u_size_bins = [-10000, -6600,-3310, 33]
new_data_df["binned_u"] = pd.cut(new_data_df["u"], u_size_bins, labels = frequency)

g_size_bins = [-10000, -6600,-3310, 33]
new_data_df["binned_g"] = pd.cut(new_data_df["g"], g_size_bins, labels = frequency)

r_size_bins = [9,16,23, 30]
new_data_df["binned_r"] = pd.cut(new_data_df["r"], r_size_bins, labels = frequency)

i_size_bins = [9,17,25, 33]
new_data_df["binned_i"] = pd.cut(new_data_df["i"], i_size_bins, labels = frequency)

z_size_bins = [-10000, -6600,-3310, 30]
new_data_df["binned_z"] = pd.cut(new_data_df["z"], z_size_bins, labels = frequency)

new_data_df.sample(30)

,u,g,r,i,z,class,redshift,binned_u,binned_g,binned_r,binned_i,binned_z
spec_obj_ID,,,,,,,,,,,,
1.578623e+18,19.84818,17.76554,16.64869,16.19990,15.87073,GALAXY,0.153173,3,3,2,1,3
2.822792e+18,19.10457,17.82601,17.14051,16.78493,16.50004,GALAXY,0.130381,3,3,2,1,3
1.401816e+18,23.43938,20.24552,18.83999,16.83134,15.68676,STAR,0.000083,3,3,2,1,3
4.238129e+18,22.20075,21.50580,21.56598,21.20035,20.88603,QSO,0.552269,3,3,2,2,3
9.584856e+18,23.38194,22.15420,21.67274,21.47419,21.61834,STAR,-0.000389,3,3,2,2,3
2.464638e+18,21.78546,20.57240,19.93806,19.70339,19.53450,STAR,-0.000130,3,3,2,2,3
8.061586e+18,21.72206,20.10122,18.35635,17.73380,17.30394,GALAXY,0.316782,3,3,2,2,3
5.838055e+18,24.44374,22.18811,21.06778,19.99998,19.43547,GALAXY,0.701996,3,3,2,2,3
3.020879e+18,18.56190,17.37930,16.87786,16.65069,16.55812,STAR,-0.000007,3,3,2,1,3
8.528713e+18,21.33906,21.01678,20.80012,20.76881,20.52615,QSO,1.369337,3,3,2,2,3
2.329586e+18,21.89220,20.45329,19.87841,19.60562,19.44470,STAR,0.000142,3,3,2,2,3
3.340620e+18,20.03414,18.56536,17.83945,17.31203,17.10304,GALAXY,0.157748,3,3,2,2,3
1.053978e+19,22.87825,22.76069,21.32455,20.74169,20.39662,GALAXY,0.348722,3,3,2,2,3
4.773889e+18,24.56244,22.47183,21.17408,20.35443,20.64681,GALAXY,0.638497,3,3,2,2,3
7.308220e+18,23.06687,21.78357,20.11947,19.33769,19.13393,GALAXY,0.436926,3,3,2,2,3
1.543763e+18,17.81426,16.85097,16.52345,16.42058,16.42072,STAR,-0.000149,3,3,2,1,3
6.765610e+18,21.23383,20.66708,20.45054,20.52963,20.61819,QSO,2.406434,3,3,2,2,3
3.221208e+18,16.76196,15.75294,15.54152,15.47368,15.46419,STAR,0.000238,3,3,1,1,3
6.148735e+18,22.50830,19.48096,18.02837,17.55554,17.19705,GALAXY,0.253509,3,3,2,2,3
9.986963e+18,21.46442,21.56475,21.15784,21.16734,21.12715,QSO,1.217334,3,3,2,2,3
8.364346e+18,22.32768,20.67838,19.55830,19.14492,18.73685,GALAXY,0.165384,3,3,2,2,3
4.076877e+17,20.78771,20.42665,20.04127,19.68154,19.55696,GALAXY,0.182329,3,3,2,2,3
5.408978e+18,25.78883,23.75507,21.77254,20.43067,20.00484,GALAXY,0.650070,3,3,2,2,3
3.315786e+18,20.32102,19.66347,19.44749,19.37700,19.36760,STAR,0.000391,3,3,2,2,3
7.526830e+18,22.87626,21.64652,21.64332,21.27179,20.59282,QSO,2.649564,3,3,2,2,3
2.258619e+18,19.23906,17.89520,17.37899,17.03865,16.85897,GALAXY,0.096106,3,3,2,2,3
3.813512e+18,24.71386,21.34433,19.88789,18.87715,18.29081,STAR,-0.000149,3,3,2,2,3
1.252349e+19,21.07317,21.03983,20.98453,20.91875,20.75796,QSO,1.836283,3,3,2,2,3
2.083042e+18,19.69144,18.40677,17.77546,17.36166,17.16368,GALAXY,0.070571,3,3,2,2,3
8.029071e+17,22.41351,19.75870,18.13511,17.53025,17.08039,GALAXY,0.279386,3,3,2,2,3

### Random Undersampling

In [12]:
# Create our features
X = new_data_df.drop('class', axis=1)

# Create our target
y = new_data_df['class']

X

,u,g,r,i,z,redshift,binned_u,binned_g,binned_r,binned_i,binned_z
spec_obj_ID,,,,,,,,,,,
6.543777e+18,23.87882,22.27530,20.39501,19.16573,18.79371,0.634794,3,3,2,2,3
1.176014e+19,24.77759,22.83188,22.58444,21.16812,21.61427,0.779136,3,3,2,2,3
5.152200e+18,25.26307,22.66389,20.60976,19.34857,18.94827,0.644195,3,3,2,2,3
1.030107e+19,22.13682,23.77656,21.61162,20.50454,19.25010,0.932346,3,3,2,2,3
6.891865e+18,19.43718,17.58028,16.49747,15.97711,15.54461,0.116123,3,3,2,1,3
...,...,...,...,...,...,...,...,...,...,...,...
1.055431e+19,22.16759,22.97586,21.90404,21.30548,20.73569,0.000000,3,3,2,2,3
8.586351e+18,22.69118,22.38628,20.45003,19.75759,19.41526,0.404895,3,3,2,2,3
3.112008e+18,21.16916,19.26997,18.20428,17.69034,17.35221,0.143366,3,3,2,2,3
7.601080e+18,25.35039,21.63757,19.91386,19.07254,18.62482,0.455040,3,3,2,2,3
8.343152e+18,22.62171,21.79745,20.60115,20.00959,19.28075,0.542944,3,3,2,2,3

In [13]:
# Split data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
Counter(y_train)

Counter({'STAR': 16227, 'GALAXY': 44608, 'QSO': 14165})

In [14]:
# Resample the training data with the RandomUnderSampler
ros = RandomUnderSampler(random_state=1)
X_resampled, y_resampled = ros.fit_resample(X_train, y_train)
Counter(y_resampled)

Counter({'GALAXY': 14165, 'QSO': 14165, 'STAR': 14165})

### Random Forest Classifier Algorithm (Galaxies, QSO and Stars)

In [15]:
# Train the Random Forest Classifier Model using the resampled data
model = RandomForestClassifier(n_estimators=100)
model.fit(X_resampled, y_resampled)

RandomForestClassifier()

In [16]:
# Calculated the balanced accuracy score
y_pred = model.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.9748225008951085

In [17]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test,y_pred))

                   pre       rec       spe        f1       geo       iba       sup

     GALAXY       0.99      0.97      0.98      0.98      0.97      0.95     14837
        QSO       0.92      0.96      0.98      0.94      0.97      0.94      4796
       STAR       0.98      1.00      1.00      0.99      1.00      1.00      5367

avg / total       0.97      0.97      0.98      0.97      0.98      0.96     25000

In [18]:
# Display the confusion matrix
c= confusion_matrix(y_test,y_pred)
cmros = pd.DataFrame(c, index=["Actual 0", "Actual 1", "Actual 2"], columns=["Predicted 0", "Predicted 1", "Predicted 2"])
cmros

          Predicted 0  Predicted 1  Predicted 2
Actual 0        14344          405           88
Actual 1          202         4594            0
Actual 2            1            0         5366

### Logestic Regression Algorithm (Galaxies,QSO and Stars)

In [19]:
model1 = LogisticRegression(multi_class='multinomial', solver='lbfgs', penalty='none', random_state=1, max_iter=100)
model1.fit(X_resampled, y_resampled)

/Users/jane.mathew/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:765: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(multi_class='multinomial', penalty='none', random_state=1)

In [20]:
y_pred = model1.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.9418547682140735

In [21]:
confusion_matrix(y_test, y_pred)

array([[13347,   547,   943],
       [  309,  4475,    12],
       [   32,     6,  5329]])

In [22]:
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

     GALAXY       0.98      0.90      0.97      0.94      0.93      0.86     14837
        QSO       0.89      0.93      0.97      0.91      0.95      0.90      4796
       STAR       0.85      0.99      0.95      0.91      0.97      0.95      5367

avg / total       0.93      0.93      0.96      0.93      0.94      0.89     25000

In [23]:
# Display the confusion matrix
c= confusion_matrix(y_test,y_pred)
cmlbgfs = pd.DataFrame(c, index=["Actual 0", "Actual 1", "Actual 2"], columns=["Predicted 0", "Predicted 1", "Predicted 2"])
cmlbgfs

          Predicted 0  Predicted 1  Predicted 2
Actual 0        13347          547          943
Actual 1          309         4475           12
Actual 2           32            6         5329