# Supervised Machine Learning - Oversampling (Stars,Galaxies and QSO)

In [1]:
import numpy as np
import pandas as pd

from pathlib import Path
from collections import Counter
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix

from imblearn.over_sampling import RandomOverSampler
from imblearn.metrics import classification_report_imbalanced
from imblearn.ensemble import EasyEnsembleClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression


import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from sqlalchemy import extract

In [2]:
columns = ["obj_ID",'alpha','delta', 'u', 'g', 'r', 'i', 'z', 'run_ID',
       'rerun_ID', 'cam_col', 'field_ID', 'spec_obj_ID', 'redshift',
       'plate', 'MJD', 'fiber_ID']
target = ["class"]

In [3]:
# # Create engine
# engine = create_engine("sqlite:///

In [4]:
# # reflect an existing database into a new model
# Base = automap_base()
# # reflect the tables
# Base.prepare(engine, reflect=True)
# # Save references to each table
# Measurement = Base.classes.measurement
# Station = Base.classes.station

In [5]:
# # Create our session (link) from Python to the DB
# session = Session(engine)

In [6]:
# Load the data
file_path = Path('Resources/star.csv', index=False)
data_df = pd.read_csv(file_path)
# df = df.loc[:, columns].copy()
data_df

,obj_ID,alpha,delta,u,g,r,i,z,run_ID,rerun_ID,cam_col,field_ID,spec_obj_ID,class,redshift,plate,MJD,fiber_ID
0,1.237661e+18,135.689107,32.494632,23.87882,22.27530,20.39501,19.16573,18.79371,3606,301,2,79,6.543777e+18,GALAXY,0.634794,5812,56354,171
1,1.237665e+18,144.826101,31.274185,24.77759,22.83188,22.58444,21.16812,21.61427,4518,301,5,119,1.176014e+19,GALAXY,0.779136,10445,58158,427
2,1.237661e+18,142.188790,35.582444,25.26307,22.66389,20.60976,19.34857,18.94827,3606,301,2,120,5.152200e+18,GALAXY,0.644195,4576,55592,299
3,1.237663e+18,338.741038,-0.402828,22.13682,23.77656,21.61162,20.50454,19.25010,4192,301,3,214,1.030107e+19,GALAXY,0.932346,9149,58039,775
4,1.237680e+18,345.282593,21.183866,19.43718,17.58028,16.49747,15.97711,15.54461,8102,301,3,137,6.891865e+18,GALAXY,0.116123,6121,56187,842
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,1.237679e+18,39.620709,-2.594074,22.16759,22.97586,21.90404,21.30548,20.73569,7778,301,2,581,1.055431e+19,GALAXY,0.000000,9374,57749,438
99996,1.237679e+18,29.493819,19.798874,22.69118,22.38628,20.45003,19.75759,19.41526,7917,301,1,289,8.586351e+18,GALAXY,0.404895,7626,56934,866
99997,1.237668e+18,224.587407,15.700707,21.16916,19.26997,18.20428,17.69034,17.35221,5314,301,4,308,3.112008e+18,GALAXY,0.143366,2764,54535,74
99998,1.237661e+18,212.268621,46.660365,25.35039,21.63757,19.91386,19.07254,18.62482,3650,301,4,131,7.601080e+18,GALAXY,0.455040,6751,56368,470
99999,1.237661e+18,196.896053,49.464643,22.62171,21.79745,20.60115,20.00959,19.28075,3650,301,4,60,8.343152e+18,GALAXY,0.542944,7410,57104,851

In [7]:
data_df.set_index(['spec_obj_ID'], inplace = True)

In [8]:
data_df

,obj_ID,alpha,delta,u,g,r,i,z,run_ID,rerun_ID,cam_col,field_ID,class,redshift,plate,MJD,fiber_ID
spec_obj_ID,,,,,,,,,,,,,,,,,
6.543777e+18,1.237661e+18,135.689107,32.494632,23.87882,22.27530,20.39501,19.16573,18.79371,3606,301,2,79,GALAXY,0.634794,5812,56354,171
1.176014e+19,1.237665e+18,144.826101,31.274185,24.77759,22.83188,22.58444,21.16812,21.61427,4518,301,5,119,GALAXY,0.779136,10445,58158,427
5.152200e+18,1.237661e+18,142.188790,35.582444,25.26307,22.66389,20.60976,19.34857,18.94827,3606,301,2,120,GALAXY,0.644195,4576,55592,299
1.030107e+19,1.237663e+18,338.741038,-0.402828,22.13682,23.77656,21.61162,20.50454,19.25010,4192,301,3,214,GALAXY,0.932346,9149,58039,775
6.891865e+18,1.237680e+18,345.282593,21.183866,19.43718,17.58028,16.49747,15.97711,15.54461,8102,301,3,137,GALAXY,0.116123,6121,56187,842
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1.055431e+19,1.237679e+18,39.620709,-2.594074,22.16759,22.97586,21.90404,21.30548,20.73569,7778,301,2,581,GALAXY,0.000000,9374,57749,438
8.586351e+18,1.237679e+18,29.493819,19.798874,22.69118,22.38628,20.45003,19.75759,19.41526,7917,301,1,289,GALAXY,0.404895,7626,56934,866
3.112008e+18,1.237668e+18,224.587407,15.700707,21.16916,19.26997,18.20428,17.69034,17.35221,5314,301,4,308,GALAXY,0.143366,2764,54535,74
7.601080e+18,1.237661e+18,212.268621,46.660365,25.35039,21.63757,19.91386,19.07254,18.62482,3650,301,4,131,GALAXY,0.455040,6751,56368,470
8.343152e+18,1.237661e+18,196.896053,49.464643,22.62171,21.79745,20.60115,20.00959,19.28075,3650,301,4,60,GALAXY,0.542944,7410,57104,851

In [9]:
 new_data_df=data_df.drop(['alpha','delta','run_ID','rerun_ID', 'cam_col', 'field_ID', "obj_ID",'plate', 'MJD', 'fiber_ID'], axis = 1 )

In [10]:
new_data_df["z"].min()

-9999.0

### Variable engineering

In [11]:
frequency = [1, 2, 3]

u_size_bins = [-10000, -6600,-3310, 33]
new_data_df["binned_u"] = pd.cut(new_data_df["u"], u_size_bins, labels = frequency)

g_size_bins = [-10000, -6600,-3310, 33]
new_data_df["binned_g"] = pd.cut(new_data_df["g"], g_size_bins, labels = frequency)

r_size_bins = [9,16,23, 30]
new_data_df["binned_r"] = pd.cut(new_data_df["r"], r_size_bins, labels = frequency)

i_size_bins = [9,17,25, 33]
new_data_df["binned_i"] = pd.cut(new_data_df["i"], i_size_bins, labels = frequency)

z_size_bins = [-10000, -6600,-3310, 30]
new_data_df["binned_z"] = pd.cut(new_data_df["z"], z_size_bins, labels = frequency)

new_data_df.sample(30)

,u,g,r,i,z,class,redshift,binned_u,binned_g,binned_r,binned_i,binned_z
spec_obj_ID,,,,,,,,,,,,
1.272849e+19,22.51918,20.42527,19.04423,18.49689,18.12348,GALAXY,0.202568,3,3,2,2,3
1.005503e+18,21.68111,19.05300,17.59806,16.45507,15.76439,STAR,-0.000056,3,3,2,1,3
1.200901e+19,21.63453,22.19203,21.65386,20.43646,19.56910,QSO,0.946917,3,3,2,2,3
9.896829e+18,23.50499,22.21652,20.90440,20.29900,19.76321,GALAXY,0.438975,3,3,2,2,3
6.102386e+18,23.47964,21.49627,21.45923,21.22947,21.67486,STAR,-0.000366,3,3,2,2,3
4.967683e+18,21.69355,20.27633,19.88506,19.80190,19.74092,QSO,2.673836,3,3,2,2,3
8.666185e+18,24.75915,23.90367,22.71548,21.35390,19.52004,GALAXY,0.610628,3,3,2,2,3
6.624923e+18,23.04174,21.69575,19.89817,19.09393,18.66095,GALAXY,0.426521,3,3,2,2,3
6.499834e+18,23.29146,22.08495,20.64707,19.80471,19.36735,GALAXY,0.483320,3,3,2,2,3
7.300504e+18,26.36382,21.60696,20.01545,18.99944,18.55611,GALAXY,0.509927,3,3,2,2,3
1.210805e+19,21.50066,21.38446,21.32234,20.85862,20.69095,QSO,1.469258,3,3,2,2,3
4.252527e+18,25.32722,22.00337,20.21465,19.27198,18.80918,GALAXY,0.498428,3,3,2,2,3
7.936575e+18,26.21460,22.38338,20.75397,19.73851,19.30528,GALAXY,0.471692,3,3,2,2,3
8.847402e+18,22.52633,21.66913,21.48851,21.29762,20.90843,QSO,2.317981,3,3,2,2,3
2.273319e+18,21.89906,17.94283,18.55745,24.36193,22.82673,STAR,0.000086,3,3,2,2,3
2.352141e+18,19.69529,17.88403,16.97780,16.58659,16.27655,GALAXY,0.090244,3,3,2,1,3
7.096795e+18,25.36629,22.34540,20.34799,19.36775,18.87917,GALAXY,0.516824,3,3,2,2,3
4.707571e+18,23.52117,21.91371,20.89524,20.15612,19.99082,GALAXY,0.538201,3,3,2,2,3
2.670658e+18,18.80333,17.51065,16.80323,16.40258,16.10435,GALAXY,0.110854,3,3,2,1,3
1.585344e+18,19.81698,17.91652,16.82445,16.38240,16.04212,GALAXY,0.146396,3,3,2,1,3
2.374666e+18,18.09671,16.97309,16.56425,16.29840,16.07478,GALAXY,0.037177,3,3,2,1,3
1.277900e+18,16.61704,15.50472,15.13548,15.00752,15.00838,STAR,0.000007,3,3,1,1,3
8.046899e+18,23.87183,23.71022,20.99480,19.85390,19.39707,GALAXY,0.524162,3,3,2,2,3
4.706463e+18,22.94714,22.04343,20.48325,19.56597,19.11123,GALAXY,0.447066,3,3,2,2,3
1.641593e+18,19.08478,17.45794,16.88560,16.58635,16.27978,GALAXY,0.027275,3,3,2,1,3
9.868781e+18,22.55718,22.95139,21.84928,21.97625,20.82655,GALAXY,1.248762,3,3,2,2,3
5.371032e+17,20.16949,19.66403,19.33206,19.33191,19.09816,QSO,0.905123,3,3,2,2,3
4.596126e+18,22.95844,21.28008,21.25407,21.30756,20.95165,STAR,-0.000690,3,3,2,2,3
7.418697e+18,24.71095,22.86206,21.24462,20.18609,19.73003,GALAXY,0.525943,3,3,2,2,3
6.594416e+18,24.49028,22.35666,20.80632,19.63026,18.92491,GALAXY,0.587993,3,3,2,2,3

### Random Oversampling

In [12]:
# Create our features
X = new_data_df.drop('class', axis=1)

# Create our target
y = new_data_df['class']

X

,u,g,r,i,z,redshift,binned_u,binned_g,binned_r,binned_i,binned_z
spec_obj_ID,,,,,,,,,,,
6.543777e+18,23.87882,22.27530,20.39501,19.16573,18.79371,0.634794,3,3,2,2,3
1.176014e+19,24.77759,22.83188,22.58444,21.16812,21.61427,0.779136,3,3,2,2,3
5.152200e+18,25.26307,22.66389,20.60976,19.34857,18.94827,0.644195,3,3,2,2,3
1.030107e+19,22.13682,23.77656,21.61162,20.50454,19.25010,0.932346,3,3,2,2,3
6.891865e+18,19.43718,17.58028,16.49747,15.97711,15.54461,0.116123,3,3,2,1,3
...,...,...,...,...,...,...,...,...,...,...,...
1.055431e+19,22.16759,22.97586,21.90404,21.30548,20.73569,0.000000,3,3,2,2,3
8.586351e+18,22.69118,22.38628,20.45003,19.75759,19.41526,0.404895,3,3,2,2,3
3.112008e+18,21.16916,19.26997,18.20428,17.69034,17.35221,0.143366,3,3,2,2,3
7.601080e+18,25.35039,21.63757,19.91386,19.07254,18.62482,0.455040,3,3,2,2,3
8.343152e+18,22.62171,21.79745,20.60115,20.00959,19.28075,0.542944,3,3,2,2,3

In [24]:
# Split data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1,stratify=y)
Counter(y_train)

Counter({'GALAXY': 44584, 'STAR': 16195, 'QSO': 14221})

In [25]:
# Resample the training data with the RandomOverSampler
ros = RandomOverSampler(random_state=1)
X_resampled, y_resampled = ros.fit_resample(X_train, y_train)
Counter(y_resampled)

Counter({'GALAXY': 44584, 'STAR': 44584, 'QSO': 44584})

### Random Forest Classifier Algorithm (Galaxies, QSO and Stars)

In [26]:
# Train the Random Forest Classifier Model using the resampled data
model = RandomForestClassifier(n_estimators=100)
model.fit(X_resampled, y_resampled)

RandomForestClassifier()

In [27]:
# Calculated the balanced accuracy score
y_pred = model.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.9727392012913674

In [28]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test,y_pred))

                   pre       rec       spe        f1       geo       iba       sup

     GALAXY       0.98      0.98      0.97      0.98      0.98      0.95     14861
        QSO       0.95      0.94      0.99      0.94      0.96      0.92      4740
       STAR       0.99      1.00      1.00      1.00      1.00      1.00      5399

avg / total       0.98      0.98      0.98      0.98      0.98      0.96     25000

In [18]:
# Display the confusion matrix
c= confusion_matrix(y_test,y_pred)
cmros = pd.DataFrame(c, index=["Actual 0", "Actual 1", "Actual 2"], columns=["Predicted 0", "Predicted 1", "Predicted 2"])
cmros

          Predicted 0  Predicted 1  Predicted 2
Actual 0        14598          211           28
Actual 1          281         4515            0
Actual 2            5            0         5362

### Logestic Regression Algorithm (Galaxies,QSO and Stars)

In [19]:
model1 = LogisticRegression(multi_class='multinomial', solver='lbfgs', penalty='none', random_state=1, max_iter=100)
model1.fit(X_resampled, y_resampled)

/Users/jane.mathew/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:765: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(multi_class='multinomial', penalty='none', random_state=1)

In [20]:
y_pred = model1.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.9378151801138671

In [21]:
confusion_matrix(y_test, y_pred)

array([[13229,   630,   978],
       [  309,  4472,    15],
       [   52,     5,  5310]])

In [22]:
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

     GALAXY       0.97      0.89      0.96      0.93      0.93      0.85     14837
        QSO       0.88      0.93      0.97      0.90      0.95      0.90      4796
       STAR       0.84      0.99      0.95      0.91      0.97      0.94      5367

avg / total       0.93      0.92      0.96      0.92      0.94      0.88     25000

In [23]:
# Display the confusion matrix
c= confusion_matrix(y_test,y_pred)
cmlbgfs = pd.DataFrame(c, index=["Actual 0", "Actual 1", "Actual 2"], columns=["Predicted 0", "Predicted 1", "Predicted 2"])
cmlbgfs

          Predicted 0  Predicted 1  Predicted 2
Actual 0        13229          630          978
Actual 1          309         4472           15
Actual 2           52            5         5310