## Supervised Machine Learning - Logistic Regression Algoritm (Galaxies vs. Star)

### Dependencies:

In [1]:
import numpy as np
import pandas as pd

from pathlib import Path
from collections import Counter
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix

from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import RandomUnderSampler
from imblearn.over_sampling import RandomOverSampler
from imblearn.metrics import classification_report_imbalanced
from imblearn.ensemble import EasyEnsembleClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression


import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from sqlalchemy import extract

In [2]:
columns = ["obj_ID",'alpha','delta', 'u', 'g', 'r', 'i', 'z', 'run_ID',
       'rerun_ID', 'cam_col', 'field_ID', 'spec_obj_ID', 'redshift',
       'plate', 'MJD', 'fiber_ID']
target = ["class"]

In [3]:
# # Create engine
# engine = create_engine("sqlite:///

In [4]:
# # reflect an existing database into a new model
# Base = automap_base()
# # reflect the tables
# Base.prepare(engine, reflect=True)
# # Save references to each table
# Measurement = Base.classes.measurement
# Station = Base.classes.station

In [5]:
# # Create our session (link) from Python to the DB
# session = Session(engine)

In [6]:
# Load the data
file_path = Path('Resources/star_galaxy.csv', index=False)
data_df = pd.read_csv(file_path)
# df = df.loc[:, columns].copy()
data_df

,obj_ID,alpha,delta,u,g,r,i,z,run_ID,rerun_ID,cam_col,field_ID,spec_obj_ID,class,redshift,plate,MJD,fiber_ID
0,1.237660e+18,135.689107,32.494632,23.87882,22.27530,20.39501,19.16573,18.79371,3606,301,2,79,6.543780e+18,GALAXY,0.634794,5812,56354,171
1,1.237660e+18,144.826101,31.274185,24.77759,22.83188,22.58444,21.16812,21.61427,4518,301,5,119,1.176010e+19,GALAXY,0.779136,10445,58158,427
2,1.237660e+18,142.188790,35.582444,25.26307,22.66389,20.60976,19.34857,18.94827,3606,301,2,120,5.152200e+18,GALAXY,0.644195,4576,55592,299
3,1.237660e+18,338.741038,-0.402828,22.13682,23.77656,21.61162,20.50454,19.25010,4192,301,3,214,1.030110e+19,GALAXY,0.932346,9149,58039,775
4,1.237680e+18,345.282593,21.183866,19.43718,17.58028,16.49747,15.97711,15.54461,8102,301,3,137,6.891860e+18,GALAXY,0.116123,6121,56187,842
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81034,1.237680e+18,39.620709,-2.594074,22.16759,22.97586,21.90404,21.30548,20.73569,7778,301,2,581,1.060000e+19,GALAXY,0.000000,9374,57749,438
81035,1.237680e+18,29.493819,19.798874,22.69118,22.38628,20.45003,19.75759,19.41526,7917,301,1,289,8.586350e+18,GALAXY,0.404895,7626,56934,866
81036,1.237670e+18,224.587407,15.700707,21.16916,19.26997,18.20428,17.69034,17.35221,5314,301,4,308,3.112010e+18,GALAXY,0.143366,2764,54535,74
81037,1.237660e+18,212.268621,46.660365,25.35039,21.63757,19.91386,19.07254,18.62482,3650,301,4,131,7.601080e+18,GALAXY,0.455040,6751,56368,470
81038,1.237660e+18,196.896053,49.464643,22.62171,21.79745,20.60115,20.00959,19.28075,3650,301,4,60,8.343150e+18,GALAXY,0.542944,7410,57104,851

In [7]:
data_df.set_index(['spec_obj_ID'], inplace = True)

In [8]:
data_df

,obj_ID,alpha,delta,u,g,r,i,z,run_ID,rerun_ID,cam_col,field_ID,class,redshift,plate,MJD,fiber_ID
spec_obj_ID,,,,,,,,,,,,,,,,,
6.543780e+18,1.237660e+18,135.689107,32.494632,23.87882,22.27530,20.39501,19.16573,18.79371,3606,301,2,79,GALAXY,0.634794,5812,56354,171
1.176010e+19,1.237660e+18,144.826101,31.274185,24.77759,22.83188,22.58444,21.16812,21.61427,4518,301,5,119,GALAXY,0.779136,10445,58158,427
5.152200e+18,1.237660e+18,142.188790,35.582444,25.26307,22.66389,20.60976,19.34857,18.94827,3606,301,2,120,GALAXY,0.644195,4576,55592,299
1.030110e+19,1.237660e+18,338.741038,-0.402828,22.13682,23.77656,21.61162,20.50454,19.25010,4192,301,3,214,GALAXY,0.932346,9149,58039,775
6.891860e+18,1.237680e+18,345.282593,21.183866,19.43718,17.58028,16.49747,15.97711,15.54461,8102,301,3,137,GALAXY,0.116123,6121,56187,842
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1.060000e+19,1.237680e+18,39.620709,-2.594074,22.16759,22.97586,21.90404,21.30548,20.73569,7778,301,2,581,GALAXY,0.000000,9374,57749,438
8.586350e+18,1.237680e+18,29.493819,19.798874,22.69118,22.38628,20.45003,19.75759,19.41526,7917,301,1,289,GALAXY,0.404895,7626,56934,866
3.112010e+18,1.237670e+18,224.587407,15.700707,21.16916,19.26997,18.20428,17.69034,17.35221,5314,301,4,308,GALAXY,0.143366,2764,54535,74
7.601080e+18,1.237660e+18,212.268621,46.660365,25.35039,21.63757,19.91386,19.07254,18.62482,3650,301,4,131,GALAXY,0.455040,6751,56368,470
8.343150e+18,1.237660e+18,196.896053,49.464643,22.62171,21.79745,20.60115,20.00959,19.28075,3650,301,4,60,GALAXY,0.542944,7410,57104,851

In [9]:
 new_data_df=data_df.drop(['alpha','delta','run_ID','rerun_ID', 'cam_col', 'field_ID', "obj_ID",'plate', 'MJD', 'fiber_ID'], axis = 1 )

In [10]:
new_data_df

,u,g,r,i,z,class,redshift
spec_obj_ID,,,,,,,
6.543780e+18,23.87882,22.27530,20.39501,19.16573,18.79371,GALAXY,0.634794
1.176010e+19,24.77759,22.83188,22.58444,21.16812,21.61427,GALAXY,0.779136
5.152200e+18,25.26307,22.66389,20.60976,19.34857,18.94827,GALAXY,0.644195
1.030110e+19,22.13682,23.77656,21.61162,20.50454,19.25010,GALAXY,0.932346
6.891860e+18,19.43718,17.58028,16.49747,15.97711,15.54461,GALAXY,0.116123
...,...,...,...,...,...,...,...
1.060000e+19,22.16759,22.97586,21.90404,21.30548,20.73569,GALAXY,0.000000
8.586350e+18,22.69118,22.38628,20.45003,19.75759,19.41526,GALAXY,0.404895
3.112010e+18,21.16916,19.26997,18.20428,17.69034,17.35221,GALAXY,0.143366
7.601080e+18,25.35039,21.63757,19.91386,19.07254,18.62482,GALAXY,0.455040
8.343150e+18,22.62171,21.79745,20.60115,20.00959,19.28075,GALAXY,0.542944

### Variable engineering

In [11]:
frequency = [1, 2, 3]

u_size_bins = [-10000, -6600,-3310, 33]
new_data_df["binned_u"] = pd.cut(new_data_df["u"], u_size_bins, labels = frequency)

g_size_bins = [-10000, -6600,-3310, 33]
new_data_df["binned_g"] = pd.cut(new_data_df["g"], g_size_bins, labels = frequency)

r_size_bins = [9,16,23, 30]
new_data_df["binned_r"] = pd.cut(new_data_df["r"], r_size_bins, labels = frequency)

i_size_bins = [9,17,25, 33]
new_data_df["binned_i"] = pd.cut(new_data_df["i"], i_size_bins, labels = frequency)

z_size_bins = [-10000, -6600,-3310, 30]
new_data_df["binned_z"] = pd.cut(new_data_df["z"], z_size_bins, labels = frequency)

new_data_df.sample(30)

,u,g,r,i,z,class,redshift,binned_u,binned_g,binned_r,binned_i,binned_z
spec_obj_ID,,,,,,,,,,,,
2.749520e+18,18.58334,17.01723,16.36358,16.11018,15.98779,STAR,-0.000131,3,3,2,1,3
8.625750e+18,23.21588,21.41493,19.61699,18.86415,18.55195,GALAXY,0.358509,3,3,2,2,3
7.918640e+18,24.14968,22.46053,20.93307,19.89021,19.54220,GALAXY,0.564137,3,3,2,2,3
6.373880e+17,18.20453,16.85833,16.17438,15.78061,15.50676,GALAXY,0.086767,3,3,2,1,3
7.420820e+18,25.90916,22.66519,20.73078,19.70442,19.00559,GALAXY,0.445165,3,3,2,2,3
8.340820e+18,21.56961,19.79227,18.58949,18.11596,17.78927,GALAXY,0.178109,3,3,2,2,3
4.896680e+18,23.20291,22.00073,20.54690,19.21495,18.64212,GALAXY,0.591199,3,3,2,2,3
3.728400e+17,20.03838,19.01068,18.61649,18.32640,18.15032,GALAXY,0.081635,3,3,2,2,3
9.444320e+18,24.57121,22.61322,21.58697,20.40239,19.71189,GALAXY,0.694968,3,3,2,2,3
7.894190e+17,18.92744,17.38594,16.70571,16.36087,16.33888,GALAXY,0.064446,3,3,2,1,3
2.560400e+18,20.61005,18.61872,17.46534,16.99139,16.63871,GALAXY,0.153649,3,3,2,1,3
8.061650e+18,22.44036,20.76490,19.06224,18.43208,18.07147,GALAXY,0.345497,3,3,2,2,3
3.608610e+18,20.09916,18.83587,18.31338,18.13075,18.13073,STAR,-0.000239,3,3,2,2,3
7.098920e+18,25.49500,22.54690,20.83806,19.89400,19.35523,GALAXY,0.509579,3,3,2,2,3
7.113440e+18,19.90601,18.85543,18.69721,18.64794,18.59442,STAR,-0.000981,3,3,2,2,3
1.008140e+19,23.29643,23.11451,22.22646,22.19900,22.54990,GALAXY,0.758846,3,3,2,2,3
8.023220e+18,24.11645,22.84996,20.84048,19.72658,19.31126,GALAXY,0.594313,3,3,2,2,3
2.398250e+18,19.48420,18.16249,17.62045,17.24559,17.13083,GALAXY,0.128725,3,3,2,2,3
1.600040e+18,21.94356,19.12249,17.76170,17.27914,16.94007,GALAXY,0.217903,3,3,2,2,3
5.369680e+18,22.35578,21.66718,20.99232,20.01241,19.81116,GALAXY,0.530277,3,3,2,2,3
8.730000e+18,20.62985,19.50863,19.08011,18.95754,18.98054,STAR,-0.001337,3,3,2,2,3
4.253710e+18,22.26626,21.46252,21.17627,21.13815,20.62220,STAR,0.000048,3,3,2,2,3
1.278690e+19,25.02456,22.31665,21.00432,20.32547,19.85383,STAR,0.000016,3,3,2,2,3
7.336510e+18,21.04987,18.51277,17.29815,16.77290,16.36093,GALAXY,0.123745,3,3,2,1,3
2.836210e+18,23.35658,21.10764,19.26857,18.59292,18.16486,GALAXY,0.393292,3,3,2,2,3
1.563910e+18,20.37075,18.71206,17.90869,17.47451,17.12912,GALAXY,0.081074,3,3,2,2,3
8.254230e+18,18.21406,16.82249,16.25268,16.02593,15.91632,STAR,0.000142,3,3,2,1,3
5.054320e+18,25.24928,21.05617,19.44770,18.69742,18.20964,GALAXY,0.341260,3,3,2,2,3
1.560590e+18,20.84424,18.75261,17.74595,17.35624,17.01695,GALAXY,0.113016,3,3,2,2,3
1.251120e+19,23.94697,22.42095,22.05406,22.81207,21.66714,GALAXY,0.177731,3,3,2,2,3

### Test and Train Data

In [12]:
# Create our features
X = new_data_df.drop('class', axis=1)

# Create our target
y = new_data_df['class']

print(X.shape)
print(y.shape)

(81039, 11)
(81039,)

In [13]:
# Split data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
Counter(y_train)

Counter({'GALAXY': 44520, 'STAR': 16259})

### Random Oversampling

In [14]:
# Resample the training data with the RandomOverSampler
ros = RandomOverSampler(random_state=1)
X_resampled, y_resampled = ros.fit_resample(X_train, y_train)
Counter(y_resampled)

Counter({'GALAXY': 44520, 'STAR': 44520})

### Logestic Regression (Galaxies vs. QSO) - Oversampling

In [15]:
# Train the Logestic Regression Model using the resampled data
model = LogisticRegression(solver='lbfgs', penalty='none', random_state=1, max_iter=10000)
model.fit(X_resampled, y_resampled)

LogisticRegression(max_iter=10000, penalty='none', random_state=1)

In [16]:
# Calculated the balanced accuracy score
y_pred = model.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.9957856762726471

In [17]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test,y_pred))

                   pre       rec       spe        f1       geo       iba       sup

     GALAXY       1.00      0.99      1.00      1.00      1.00      0.99     14925
       STAR       0.98      1.00      0.99      0.99      1.00      0.99      5335

avg / total       0.99      0.99      1.00      0.99      1.00      0.99     20260

In [18]:
# Display the confusion matrix
c= confusion_matrix(y_test,y_pred)
cmros = pd.DataFrame(c, index=["Actual - Galaxy", "Actual - Star"], columns=["Predicted - Galaxy", "Predicted - Star"])
cmros

                 Predicted - Galaxy  Predicted - Star
Actual - Galaxy               14802               123
Actual - Star                     1              5334

### Random Undersampling

In [19]:
# Resample the training data with the RandomUnderSampler
rus = RandomUnderSampler(random_state=1)
X_resampled1, y_resampled1 = rus.fit_resample(X_train, y_train)
Counter(y_resampled1)

Counter({'GALAXY': 16259, 'STAR': 16259})

### Logestic Regression (Galaxies vs. QSO) - Undersampling

In [20]:
model2 = LogisticRegression(solver='lbfgs', penalty='none', random_state=1, max_iter=10000)
model2.fit(X_resampled1, y_resampled1)

LogisticRegression(max_iter=10000, penalty='none', random_state=1)

In [21]:
# Calculated the balanced accuracy score
y_pred1 = model2.predict(X_test)
balanced_accuracy_score(y_test, y_pred1)

0.9959128978224456

In [22]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test,y_pred1))

                   pre       rec       spe        f1       geo       iba       sup

     GALAXY       1.00      0.99      1.00      1.00      1.00      0.99     14925
       STAR       0.98      1.00      0.99      0.99      1.00      0.99      5335

avg / total       0.99      0.99      1.00      0.99      1.00      0.99     20260

In [23]:
# Display the confusion matrix
c= confusion_matrix(y_test,y_pred1)
cmrus = pd.DataFrame(c, index=["Actual - Galaxy", "Actual - Star"], columns=["Predicted - Galaxy", "Predicted - Star"])
cmrus

                 Predicted - Galaxy  Predicted - Star
Actual - Galaxy               14803               122
Actual - Star                     0              5335